.welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  min-height: 90vh;
  padding: 20px;
  background-color: var(--background-color1);
}

.welcome-page-title {
  font-size: 30px;
  color: var(--color1);
}

.welcome-page-links {
  display: flex;
  justify-content: end;
  width: 100%;
}

.welcome-page-link:hover {
  text-decoration: underline;
}

.welcome-page-content1,
.welcome-page-content2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px 10px 20px;
  color: var(--color1);
  background-color: var(--background-color4);
  overflow: auto;
}

.welcome-page-content2 {
  margin-top: 18px;
}

.content-item-img {
  width: 175px;
}

.content-title {
  width: 100%;
  padding: 0 20px 10px;
  font-size: 24px;
}

.content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  padding: 10px;
}

.content-item-title {
  margin: 5px 0 30px;
  font-size: 20px;
  font-style: italic;
}

.content-item-about-team,
.content-item-description {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 0.9;
  white-space: pre-line;
}

.content-item-description {
  text-indent: 15px;
  line-height: 1.3;
}

@media (width <= 640px) {
  .welcome-page-content1 {
    flex-direction: column;
    align-items: center;
  }

  .content-item {
    width: 90%;
  }
}
