:root {
  --font-mono: ui-monospace, menlo, monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --color1: #313131;
  --color2: #fefefe;
  --color3: #ebefd0;
  --color4: #3a3939;
  --color5: #e7e7e7;
  --color6: #ee564e;
  --color7: #0000004e;
  --error-color: #e71212;
  --success-color: #08995c;
  --link-color1: #2270ec;
  --link-color2: #61c2e9;
  --link-color3: #bbf3f6;
  --background-color1: #fefefe;
  --background-color2: #4c9fc0;
  --background-color4: #f8f8f8;
  --background-color5: #2c2c2c;
  --background-color6: #679381;
  --background-color7: #282c34;
  --background-color10: #e6603f;
  --background-color11: #fefefef1;
  --modal-blur1: #000000a6;
  --modal-blur2: #ffffffb7;
  --modal-blur3: #ebefd09f;
  --border1: 1px solid #e1e1e1;
  --border2: 1px solid #fefefe;
  --border3: 1px solid #ebefd0;
  --border4: 2px solid #939292;
  --border5: 2px solid #fefefe;
  --border6: 2px solid #ebefd0;
  --box-shadow1: -1px 1px #e1e1e1;
  --box-shadow2: -1px 1px #acdbd3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: #313131;
}

body {
  width: 100vw;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn {
  padding: 0 10px;
  cursor: pointer;
  border-radius: 3px;
}

.error-message {
  width: 100vw;
  padding: 100px 20px 20px;
  text-align: center;
}

.auth-page-title {
  margin-top: 100px;
}

.submit {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  row-gap: 30px;
  margin: 0 auto;
  padding: 30px;
}
.submit .input-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.submit input,
.submit select {
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}
.submit input:focus {
  border: 3px #007bff solid;
  box-shadow: 0 0 8px rgb(0 123 255 / 50%);
}
.submit .error {
  color: #ff0000;
  font-weight: 700;
  font-size: 18px;
}
